<div class="span6">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">genero</th>
            <th style="width:80px;">Imgen Bg</th>
            <th style="width:100px;">Imgen Profile</th>
			<th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="artist in artists">
            <td>{{ artist.name }}</td>
            <td>{{ artist.genre }}</td>
			            <td>{{ artist.background_image }}</td>
            <td>{{ artist.profile_image }}</td>
            <td><a ng-click="editArtist(artist.id)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteArtist(artist.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewArtist()" class="btn btn-small">create new artist</a>
</div>
